.banner2 {
  width: 1440px;
  height: 700px;
  background-color: #FFFFFF;
  margin: 0 auto;
  display: flex;
  justify-content: center ;
  align-items: center ;
}
.banner2 .banner2-img {
  width: 980px;
  height: 600px;
  background: url('../../../images/solution/Mask\ Group.png');
  background-position: center center;
  border-radius: 50px;
}
