.banner1 {
  width: 1440px;
  height: 700px;
  margin: 0 auto;
  border: 1px solid gray;
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0.37)), url('../../../images/solution/Mask\ Group.png');
  font-family: '幼圆';
  text-align: center;
}
.banner1 h1 {
  font-size: 50px;
  line-height: 30px;
  padding-top: 200px;
}
.banner1 p {
  font-size: 24px;
  color: #2C2C2E;
}
